<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mason Currie</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="top-container">
      <img class="top-cloud" src="static/images/cloud.png" alt="Cloud image">
      <h1>I'm Mason</h1>
      <h2>a <span class="pro">pro</span>grammer</h2>
      <img class="bottom-cloud" src="static/images/cloud.png" alt="Cloud image">
      <img src="static/images/mountain.png" alt="mountain image">
    </div>

    <div class="middle-container">
      <div class="profile">
        <img src="static/images/man.png" alt="Man in suit">
        <h2>Hello.</h2>
        <p class="intro">I am a junior back-end developer. I love tech and learning new skills.</p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="web" src="https://media.giphy.com/media/juua9i2c2fA0AIp2iq/giphy.gif" alt="web dev picture">
          <h3>Web Development</h3>
          <p>From an early age I loved problem solving and building stuff. So naturally when I started coding in college, I fell in love with it. After I graduated, my attention has moved to studying to  become a full-stack web developer. </p>
        </div>
        <div class="skill-row">
          <img class="gaming" src="https://media.giphy.com/media/KOLIHpiF4BVzQBUYUt/giphy.gif" alt="video game consoles">
          <h3>Gaming</h3>
          <p>I was introduced to video games at an early age. I have become extemely proficient playing and adapting to any game I play. I also have exceptional hand-eye cordination due to my experience with video games.</p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>Do You Love Games?</h3>
        <p class="contact-msg">If you love video games or software development as much as I do, please feel free to reach out so we can game and colaberate on a coding project.</p>
        <a class="btn" href="mailto:masoncu13@ymail.com">CONTACT ME</a>
      </div>
    </div>


    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/mason-currie-010772b8/">LinkedIn</a>
      <a class="footer-link" href="https://github.com/mercurrie">Github</a>
      <p class="cpy">©2022 Mason Currie.</p>
    </div>
  </body>
</html>
